.env
static/js/gen/
static/css/gen/
static/.webassets-cache/
dashboard/static/.webassets-cache/
virtualenv.egg-info
build
dist
lib
bin
include
docs/_build
.python
.DS_Store
*.py[cod]
*.egg
.eggs
.tox
.cache
tests/test_activate_actual.output
