dashboard/data/apps.yml-etag
dump.rdb
.env
dashboard/static/js/gen/
dashboard/static/css/gen/
dashboard/static/.webassets-cache/
dashboard/static/img/logos/*
virtualenv.egg-info
build
dist
lib
bin
man
include
docs/_build
pip-selfcheck.json
.python
.DS_Store
*.py[cod]
*.egg
.eggs
.tox
.cache
tests/test_activate_actual.output
