dashboard/data/apps.yml-etag
dump.rdb
.env
static/js/gen/
static/css/gen/
static/.webassets-cache/
dashboard/static/.webassets-cache/
virtualenv.egg-info
build
dist
lib
bin
man
include
docs/_build
pip-selfcheck.json
.python
.DS_Store
*.py[cod]
*.egg
.eggs
.tox
.cache
tests/test_activate_actual.output
