### This file is a sample environment file for use with the project.
# To see these in action see the `clouddeploy` directory.

# This should be random in production deployment used in session security.
# Easy way to generate:
# openssl rand -hex 64
SSO-DASHBOARD_SECRET_KEY="this is a secret key"

# local, development, staging, or production.
ENVIRONMENT="local"

# OpenID Connect Specific Parameters
# We use Auth0, the configs for this would be under the Application "Settings"
# page.
SSO-DASHBOARD_OIDC_DOMAIN="auth0.example.com"
SSO-DASHBOARD_OIDC_CLIENT_ID=""
SSO-DASHBOARD_OIDC_CLIENT_SECRET=""

# Yes, this one is not namespaced.
# DEBT(bhee): standardize at some point.
OIDC_REDIRECT_URI='https://localhost.localdomain:8000/redirect_uri'

# Controls the logging levels
SSO-DASHBOARD_DEBUG=True

# Unused right now.
SSO-DASHBOARD_TESTING=False

# Reasonable for local development, you'll want to change these in production
# though.
SSO-DASHBOARD_CSRF_ENABLED=True
SSO-DASHBOARD_PERMANENT_SESSION=True
SSO-DASHBOARD_PERMANENT_SESSION_LIFETIME=86400
SSO-DASHBOARD_SESSION_COOKIE_HTTPONLY=True
SSO-DASHBOARD_SERVER_NAME=localhost.localdomain:8000
SSO-DASHBOARD_PREFERRED_URL_SCHEME=http

# You'll need a running redis.
# See compose.yml.
SSO-DASHBOARD_REDIS_CONNECTOR=redis:6379

# Where we publish the `apps.yml` file.
SSO-DASHBOARD_CDN=https://cdn.sso.mozilla.com
SSO-DASHBOARD_S3_BUCKET=sso-dashboard.configuration

# Used to decode the JWS from Auth0 (e.g. for if we redirect back and there's some
# context Auth0 passes us, like the error code.)
# Base64 + PEM encoded.
SSO-DASHBOARD_FORBIDDEN_PAGE_PUBLIC_KEY=""
