### This file is a sample environment file for use with the project.
# To see these in action see the `clouddeploy` directory.

# This should be random in production deployment used in session security.
# Easy way to generate:
# openssl rand -hex 64
SECRET_KEY="this is a secret key"

# local, development, staging, or production.
ENVIRONMENT="local"

# OpenID Connect Specific Parameters
# We use Auth0, the configs for this would be under the Application "Settings"
# page.
OIDC_DOMAIN="auth0.example.com"
OIDC_CLIENT_ID=""
OIDC_CLIENT_SECRET=""

# Yes, this one is not namespaced.
# DEBT(bhee): standardize at some point.
OIDC_REDIRECT_URI='https://localhost.localdomain:8000/redirect_uri'

# Controls the logging levels.
FLASK_DEBUG=True

# Unused right now.
TESTING=False

# Reasonable for local development, you'll want to change these in production
# though.
CSRF_ENABLED=True
PERMANENT_SESSION=True
PERMANENT_SESSION_LIFETIME=86400
SESSION_COOKIE_HTTPONLY=True
SERVER_NAME=localhost.localdomain:8000
PREFERRED_URL_SCHEME=http

# You'll need a running redis.
# See compose.yml.
REDIS_CONNECTOR=redis:6379

# Where we publish the `apps.yml` file.
CDN=https://cdn.sso.mozilla.com
S3_BUCKET=sso-dashboard.configuration

# Used to decode the JWS from Auth0 (e.g. for if we redirect back and there's some
# context Auth0 passes us, like the error code.)
# Base64 + PEM encoded.
FORBIDDEN_PAGE_PUBLIC_KEY=""
