### This file is a sample environment file for use with the project.

# This should be random in production deployment used in session security.
SECRET_KEY="this is a secret key"

# Development or production.
ENVIRONMENT="Development"

# OpenID Connect Specific Parameters
OIDC_DOMAIN="auth0.example.com"
OIDC_CLIENT_ID=""
OIDC_CLIENT_SECRET=""

# User avatar parameters
MOZILLIANS_API_URL='https://mozillians.org/api/v2/users/'
MOZILLIANS_API_KEY=''
DEFAULT_AVATAR='/static/img/user.svg'

SERVER_NAME="localhost:5000"
PERMANENT_SESSION=True
PERMANENT_SESSION_LIFETIME=900
