[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | python-modules/.cis-environment/
  | build
  | dist
  | cloudformation
  | docker
  | ci
  | docs
)/
'''

[tool.pytest.ini_options]
addopts = "--cov dashboard"
