boto3
python-dotenv
flask
flask_assets
Jinja2
gunicorn
pytest
pytest-xdist
requests
faker
nose
nose-watch
flask-pyoidc
redis
rq
jsmin
cssmin
pytest-flask
python-dotenv
pyjwt
dotenv
cryptography
pycrypto
ecdsa
gunicorn
flask-sse
gevent
auth0-python
flask-redis
