annotated-types==0.7.0
Beaker==1.13.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
cssmin==0.2.0
defusedxml==0.7.1
distlib==0.3.8
Faker==26.1.0
filelock==3.15.4
Flask==3.0.3
Flask-Assets==2.1.0
Flask-Session==0.8.0
Flask-pyoidc==3.14.3
flask-talisman==1.1.0
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
gunicorn==22.0.0
identify==2.6.0
idna==3.7
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.5
josepy==1.14.0
jsmin==3.0.1
Mako==1.3.5
MarkupSafe==2.1.5
nodeenv==1.9.1
oic==1.6.1
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pyjwkest==1.4.2
pyOpenSSL==24.2.1
pyproject-api==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.1
redis==5.2.0
requests==2.32.3
setuptools==72.1.0
six==1.16.0
tox==4.16.0
types-PyYAML==6.0.12.20240724
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.6
webassets==2.0
Werkzeug==3.0.6
zope.event==5.0
zope.interface==6.4.post2
