{% if alert.get('helpfulness') == None %}
<form action="/alert/{{ alert.get('alert_id') }}" data-helpfulness method="POST" data-helpfulness-success="Thank you for providing us feedback on this alert!" data-helpfulness-error="An error has occurred, please try again later." class="alert-survey">
  <fieldset>
    <legend>Was this alert helpful?</legend>
    <input type="submit" value="Yes" name="helpfulness" /><!--
    --><input type="submit" value="Very" name="helpfulness" /><!--
    --><input type="submit" value="Moderately" name="helpfulness" /><!--
    --><input type="submit" value="Slightly" name="helpfulness" /><!--
    --><input type="submit" value="No" name="helpfulness" />
  </fieldset>
</form>
{% endif %}
<div class="alert-feedback" role="alert">
  {% if alert.get('helpfulness') != None %}
    <p>Thank you for providing us feedback on this alert!</p>
  {% endif %}
</div>
