@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/opensans-light.woff2') format('woff2'),
        url('../../fonts/opensans-light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/opensans-semibold.woff2') format('woff2'),
        url('../../fonts/opensans-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../../fonts/opensans-lightitalic.woff2') format('woff2'),
        url('../../fonts/opensans-lightitalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/opensans-semibolditalic.woff2') format('woff2'),
        url('../../fonts/opensans-semibolditalic.woff') format('woff');
}

$gray: #808080;
$lightgray: #cfcfcf;
$bggray: #f8f8f8;
$yellow: #faba00;

$appbar-height: 70px;

html,
body {
    height: 100%;
}

body {
    background-color: white;
    color: $gray;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

.yellow-border {
    border-color: $yellow;
}

.mui-appbar {
    background-color: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid $lightgray;
    height: $appbar-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .mui-col-sm-2 {
        padding: 0;
    }

    .brand {
        border-right: 1px solid $lightgray;
        height: $appbar-height;
        width: auto;
        float: left;

        .logo {
            height: 30px;
            margin: 20px;
        }
    }

    .filter {
        margin: 15px;
        display: inline-flex;

        .mui-textfield {
            display: inline-block;
            margin-bottom: 0;
            padding-top: 0;
            border: 1px solid $lightgray;

            input {
                border-bottom: none;
                margin-left: 10px;
                width: 424px;
                text-align: left;
                padding-right: 46px;
                height: 38px;

                &:active,
                &:focus {

                    &::placeholder {
                        color: white;
                    }
                }
            }

            .clear {
                border: none;
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                width: 26px;
                padding: 6px;
                cursor: pointer;

                &.yellow-border {

                    g {
                        fill: $yellow;
                    }
                }
            }

            &.yellow-border {
                border-color: $yellow;
            }
        }

        img {
            display: inline-block;
            width: 18px;
            padding: 10px;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: $lightgray;

            &.yellow-border {
                border-color: $yellow;
            }
        }
    }

    .menu {
        border-left: 1px solid $lightgray;
        width: auto;
        float: right;
        height: $appbar-height;

        .profile-icon {
            width: 40px;
            height: 40px;
            margin: 15px;
        }

        .default-avatar {
            border: 1px solid $lightgray;
            width: 20px;
            height: 20px;
            padding: 10px;
            margin: 15px;
        }
    }

    .search-button {
        display: none;
    }
}

.search-mobile {
    display: none;
    height: 0;
    visibility: hidden;
}

.content {
    background-color: $bggray;
    min-height: 100%;
    padding: 20px;
    margin-top: $appbar-height;

    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .app-tile {
            margin: 20px;
            flex-basis: auto;
            text-align: center;
            max-width: 192px;

            &:hover {
                text-decoration: none;
                color: black;
            }

            .app-logo {
                background-color: white;
                border: 1px solid $lightgray;
                padding: 20px;
                width: 150px;
                height: 150px;
                display: table-cell;
                vertical-align: middle;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 140px;
                    max-height: 140px;
                }

                &.yellow-border {
                    border-color: $yellow;
                }
            }

            .app-name {
                color: black;
            }
        }
    }
}

footer {
    height: 60px;
    background-color: black;
    border-top: 1px solid $lightgray;
    padding-top: 35px;

    .icon-container {
        display: inline-block;
        margin: 0 1em;

        .icon {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            img {
                width: 20px;
                margin-right: 10px;
                display: inline-block;
            }

            a {
                color: $gray;
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

@media all and (max-width: 767px) {

    .mui-appbar .filter .mui-textfield input {
        width: 240px;
    }
}

@media all and (max-width: 543px) {

    $appbar-height: 80px;

    .mui-appbar {
        height: $appbar-height;

        .brand {
            border-right: none;

            .logo {
                margin: 25px 20px;
            }
        }

        .menu {
            height: $appbar-height;

            .profile-icon {
                display: block;
                width: 40px;
                height: 40px;
                margin: 20px;
            }

            .default-avatar {
                border: 1px solid $lightgray;
                display: block;
                width: 20px;
                height: 20px;
                padding: 10px;
                margin: 20px;
            }
        }

        .search-button {
            display: inline-block;
            height: $appbar-height;
            background-image: url('../../img/search.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 18px;
            border-left: 1px solid $lightgray;
            float: right;

            &.invert {
                background-color: black;
                color: $lightgray;
                border-bottom: 1px solid black;
                background-image: url('../../img/search-w.svg');
            }

            a {
                display: block;
                width: 18px;
                height: 18px;
                margin: 31px;
            }
        }
    }

    .search-mobile {
        background-color: black;
        height: $appbar-height;
        margin-top: $appbar-height;
        visibility: visible;
        margin-bottom: -$appbar-height;

        .mui-textfield {
            width: 80%;
            margin: auto;
            padding-top: 20px;

            input {
                color: $lightgray;
                text-align: center;
                height: 38px;
                border: none;

                &::placeholder {
                    color: $gray;
                }

                &:active,
                &:focus {

                    &::placeholder {
                        color: black;
                    }
                }
            }
        }
    }

    .content {
        padding: 10px;
        margin-top: $appbar-height;

        .app-grid {

            .app-tile {
                margin: 10px;
                max-width: 122px;

                .app-logo {
                    padding: 10px;
                    width: 100px;
                    height: 100px;

                    img {
                        max-width: 90px;
                        max-height: 90px;
                    }
                }
            }
        }
    }

    footer {
        height: 70px;
        padding-top: 10px;

        .icon-container {
            margin: .2em 1em;

            .icon {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                img {
                    width: 20px;
                    margin-right: 10px;
                    display: inline-block;
                }

                a {
                    color: $gray;
                    text-decoration: none;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
