* {
  box-sizing: border-box; }

form {
  margin: 0; }
  form * {
    font-family: inherit; }

fieldset {
  border: 0;
  padding: 0; }

label {
  margin: 2em 0;
  display: block; }

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 100%;
  background-color: #f4f4f4;
  border: 1px solid #fff;
  border-bottom: 1px solid #000;
  padding: .5em;
  display: block;
  width: 100%;
  margin-bottom: 1em; }
  input[type="text"]:hover, input[type="text"]:focus,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="password"]:hover,
  input[type="password"]:focus {
    border: 1px solid #229DC4;
    outline: none; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-color: #fff; }

html,
body {
  height: 100%; }

body {
  background: #f4f4f4;
  color: #595959;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.03em;
  margin: 0 1.5em;
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr; }

[hidden] {
  display: none; }

[data-hidden] {
  position: absolute;
  top: -999em;
  opacity: 0; }

h1 {
  margin: 0; }

a {
  color: #229DC4;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline;
    text-decoration-skip: ink; }

p:first-child {
  margin-top: 0; }

hr {
  border: none;
  height: 2px;
  background-color: #f4f4f4;
  margin: 2em 0; }

.visually-hidden {
  position: absolute;
  left: -9999em; }

.non-ldap-options-intro {
  padding-top: 2em;
  border-top: 2px solid #f4f4f4;
  margin-top: 2em; }

.banner {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 1.5em;
  text-align: center;
  margin: -1em -2.5em 2em;
  display: flex;
  flex-direction: column; }
  .banner p {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 40em) {
      .banner p {
        display: block; } }
  .banner__button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 1.25em;
    font-weight: bold;
    padding: .25em 1em;
    margin: 1em 0 0 1em;
    text-transform: uppercase; }
    @media (min-width: 40em) {
      .banner__button {
        margin: .5em 0 .5em 1em;
        display: inline-block;
        vertical-align: middle; } }
    .banner__button:hover {
      color: #fff;
      text-decoration: none; }
    .banner__button:focus {
      outline: none;
      outline: 0;
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color: #229DC4; }

.button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 2em;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: 1.25em;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: background-color .1s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .button:hover {
    background-color: #fff;
    color: #000;
    border-color: currentColor;
    text-decoration: none; }
  .button:focus {
    outline: none;
    outline: 0;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: #229DC4; }
  .button:active {
    background-color: #000;
    color: #fff;
    border-color: #000; }
  .button--full-width {
    width: 100%; }
  .button--secondary {
    border-color: #000;
    background-color: transparent;
    color: #000;
    text-transform: none; }
    .button--secondary:hover {
      background-color: #000;
      color: #fff;
      border-color: transparent; }
      .button--secondary:hover svg > path {
        fill: #fff; }
    .button--secondary:active {
      background-color: transparent;
      border-color: #000;
      color: #000; }
  .button--social {
    display: flex;
    padding: .5em 1em; }
    .button--social .icon,
    .button--social span {
      margin-right: auto;
      align-self: center; }
  .button--text-only {
    background-color: transparent;
    text-transform: none;
    border: 1px solid transparent;
    color: #229DC4;
    text-align: left;
    font-weight: normal;
    padding: .5em 1em; }
    .button--text-only:hover {
      background-color: transparent;
      color: #595959;
      border-color: transparent;
      text-decoration: underline;
      text-decoration-skip: ink; }
    .button--text-only:focus {
      outline: none;
      outline: 0;
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color: #229DC4; }
    .button--text-only:active {
      background-color: #000;
      color: #fff;
      border-color: #000; }
  .button--unpadded {
    margin-left: -1em; }
  .button:last-child {
    margin-bottom: 0; }
  .button svg,
  .button span {
    pointer-events: none; }

.card {
  background-color: #fff;
  padding: 2.5em;
  position: relative;
  margin: auto 1em;
  box-shadow: 0.5em 0.5em 0 0 #e5e5e5; }
  @media (min-width: 20em) {
    .card {
      margin: auto;
      width: 100%;
      max-width: 26em; } }
  @supports (display: grid) {
    .card {
      grid-row-start: 2; }
      @media (min-height: 50em) {
        .card {
          top: -3em;
          /* compensate for negative margin for footer links */ } } }
  .card__back {
    margin-bottom: 1em; }
  .card__heading {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 2.125em;
    position: relative;
    min-height: 1.5em; }
    .card__heading svg {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: 0; }
    .card__heading--success {
      color: #158640; }
      .card__heading--success svg use,
      .card__heading--success svg path {
        fill: #158640; }
    .card__heading--error {
      color: #ff4f5e; }
      .card__heading--error svg use,
      .card__heading--error svg path {
        fill: #ff4f5e; }
  .card [data-screen]:focus {
    outline: none; }

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin-right: .5em; }

.legal-links {
  position: absolute;
  bottom: -3em;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .legal-links li {
    margin: 0 1em 0 0;
    font-size: .75em; }
    .legal-links li:last-child {
      margin-left: auto;
      margin-right: 0; }
  .legal-links a {
    text-decoration: none;
    color: #000;
    border-radius: 1.25em;
    padding: .5em 1em; }
    .legal-links a:hover {
      color: #229DC4;
      text-decoration: underline;
      text-decoration-skip: ink; }
    .legal-links a:focus {
      outline: none;
      text-decoration: none;
      box-shadow: 0 0 0 1px #229DC4; }
    .legal-links a:active {
      box-shadow: none; }

.list--plain {
  margin: 0;
  padding: 0; }
  .list--plain li {
    list-style: none; }

.loading__spinner {
  display: block;
  margin: 3em auto;
  width: 2em;
  animation: rotateSpinner 1.2s linear infinite;
  transform-origin: center; }

.loading__status {
  text-align: center;
  margin: 1em 0; }

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.login-options li {
  margin-bottom: 1em; }
  .login-options li:last-child {
    margin-bottom: 0; }

.login-options + a {
  margin-top: 1em; }

.logo {
  display: inline-block;
  margin-bottom: 2em;
  padding: 0;
  border-radius: 0; }
  .logo img {
    width: 100%;
    max-width: 6.5em;
    display: block; }

.rp-name {
  margin-bottom: 1em; }
  .rp-name__text {
    font-size: .75em; }
