<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% assets "css_all" %}
      <style type="text/css" src="{{ ASSET_URL }}"></style>
    {% endassets %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">
      <div class="mui-panel">
        {% block content %}
        {% endblock %}
        <button class="mui-btn mui-btn--primary mui-btn--raised">Login</button>
      </div>
    </div>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
