{% extends "layout.html" %}

{% block content_class %}error-page{% endblock %}

{% block content %}
  <div class="mui-row">
    <div class="mui-col-md-10 mui-col-md-offset-2">
      <h1>404</h1>

      <div class="panel">
        <div class="pointer"></div>
        <h2>Oye, something went wrong.</h2>
        Much like our bird, it looks like the page has <abbr title="phrase; to make one's escape">flown the coop</abbr>!
      </div>

      <div class="mui-row section">
        <div class="mui-col-md-6 mui-col-lg-4">
          <a href="https://mozilla-hub.atlassian.net/servicedesk/customer/portal/4/group/36/create/213" class="mui-btn help">Need Help?</a>

          <a href="/dashboard" class="mui-btn return">Return to dashboard</a>
        </div>

        <div class="mui-col-md-6 mui-col-lg-8">
          <div class="bird">
            <img src="/static/img/404-birdcage.jpg" alt="404">
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
{% endblock %}
