<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet"></style>
    {% endassets %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

  </head>
  <body>
    <!-- example content -->
    <div class="mui-appbar">

      <img src="static/img/mozilla-logo.png"></img>
      {% if user.profile_picture() %}
        <img class="profile-icon" src="{{ user.profile_picture() }}"></img>
      {% else %}
        <img class="profile-icon" src="https://robohash.org/{{ user.userhash() }}.png"></img>
      {% endif %}
        <!-- content -->

        <div class="mui-container nav-buttons">
            <i class="nav-icon material-icons">mode-edit</i>
            <i class="nav-icon material-icons">exit_to_app</i>
        </div>

    </div>
    <div class="mui-container">
      <div class="mui-panel">

        <form class="mui-form--inline">
            <div class="mui-textfield">
              <input type="text">Search for an app.
            </div>
            <button class="mui-btn">Search</button>
        </form>

        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
      var source = new EventSource("/stream?channel={{ user.userhash() }}");
      source.addEventListener('alert', function(event) {
          var data = JSON.parse(event.data);
          $(".messages").append("<li class=\"security-alert\">" + " <div class=\"message\">" + "Security Alert Logged at " + (new Date().getHours()) + ":" + (new Date().getMinutes()) + " : " + data["message"] + "</div></li>");
          //alert("The server says " + data.message);
      }, false);
      source.addEventListener('error', function(event) {
          console.log("Failed to connect to event stream. Is Redis running?");
      }, false);
    </script>
  </body>

  <footer class="container-fluid" role="contentinfo">
    <div class="opacity"></div>
    <div class="panel-group col-md-12 col-sm-12 col-xs-12" id="accordion">
    <div class="alerts panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title text-center"><a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Security Alerts</a><br></h4>
      <ul class="messages">
        {% for alert in alerts %}
          <li class="security-alert">
            <div class="message">
              {{ alert }}
            </div>
          </li>
        {% endfor %}
      </ul>
  </footer>
</html>
