<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet"></style>
    {% endassets %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

  </head>
  <body>
    <!-- example content -->
    <div class="mui-appbar">

      <img src="static/img/mozilla-logo.png"></img>
      {% if user.profile_picture() %}
        <img class="profile-icon" src="{{ user.profile_picture() }}"></img>
      {% else %}
        <img class="profile-icon" src="https://robohash.org/{{ user.userhash() }}.png"></img>
      {% endif %}
        <!-- Commented out for deploy.  Will put back when pw reset
        and profile editor have a home.

        <div class="mui-container nav-buttons">
            <i class="nav-icon material-icons">mode-edit</i>
            <i class="nav-icon material-icons">exit_to_app</i>
        </div>
       content -->
    </div>
    <div class="mui-container">
      <div class="mui-panel">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="filter" id="search" placeholder="search for an app by name">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
            </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
      $(':input[name=filter]').on('input',function() {

        //get value just typed into textbox -- see .toLowerCase()
        var val = this.value.toLowerCase();

        //find all .user-profile divs
        $('#app-grid').find('.app-tile')

        //find those that should be visible
        .filter(function() {
          return $(this).data('id').toLowerCase().indexOf( val ) > -1;
        })

        //make them visible
        .show()

        //now go back and get only the visible ones
        .end().filter(':visible')

        //filter only those for which typed value 'val' does not match the `data-id` value
        .filter(function() {
          return $(this).data('id').toLowerCase().indexOf( val ) === -1;
        })

        //fade those out
        .fadeOut();

      });
    </script>

    <script>
      var source = new EventSource("/stream?channel={{ user.userhash() }}");
      source.addEventListener('alert', function(event) {
          var data = JSON.parse(event.data);
          $(".messages").append("<li class=\"security-alert\">" + " <div class=\"message\">" + "Security Alert Logged at " + (new Date().getHours()) + ":" + (new Date().getMinutes()) + " : " + data["message"] + "</div></li>");
          //alert("The server says " + data.message);
      }, false);
      source.addEventListener('error', function(event) {
          console.log("Failed to connect to event stream. Is Redis running?");
      }, false);
    </script>
  </body>

  <footer class="container-fluid" role="contentinfo">
    <div class="opacity"></div>
    <div id="panel-alerts" class="panel-group col-md-12 col-sm-12 col-xs-12" id="accordion">
    <div class="alerts panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title text-center"><a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Security Alerts</a><br></h4>
      <ul class="messages">
        {% for alert in alerts %}
          <li class="security-alert">
            <div class="message">
              {{ alert }}
            </div>
          </li>
        {% endfor %}
      </ul>
  </footer>
</html>
