{% extends "authenticated-layout.html" %}
{% block content %}
<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
    <div class="mui-col-md-1">md-1</div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-8">md-8</div>
    <div class="mui-col-md-4">md-4</div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-4">md-4</div>
    <div class="mui-col-md-4">md-4</div>
    <div class="mui-col-md-4">md-4</div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-6">md-6</div>
    <div class="mui-col-md-6">md-6</div>
  </div>
  <script>
  var source = new EventSource("http://localhost:8000/stream");
  source.addEventListener('greeting', function(event) {
      var data = JSON.parse(event.data);
      alert("The server says " + data.message);
  }, false);
  source.addEventListener('error', function(event) {
      alert("Failed to connect to event stream. Is Redis running?");
  }, false);
</script>
</div>

{% endblock %}
