{% extends "layout.html" %}

{% block search %}
  <div class="mui-form--inline filter">
    <img src="static/img/search.svg" alt="search">
    <div class="mui-textfield">
      <input type="text" name="filter" id="filter" placeholder="Search for an app by name">
    </div>
  </div>
{% endblock %}

{% block search_button %}
  <div class="search-button">
    <a href="#"></a>
  </div>
{% endblock %}

{% block search_mobile %}
  <div class="search-mobile">
    <div class="mui-textfield">
      <input type="text" name="filter" id="filter" placeholder="Search for an app by name">
    </div>
  </div>
{% endblock %}

{% block menu %}
  <div class="menu">
    {% with avatar = user.avatar() %}
      {% if avatar %}
        <img class="profile-icon" src="{{ avatar }}">
      {% else %}
        <img class="default-avatar" src="/static/img/user.svg">
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block content %}
  <div id="app-grid" class="mui-row app-grid">
    {% for app in apps %}
      <a href="{{ app['application']['url'] }}" data-id="{{ app['application']['name'] }}"
         class="app-tile" target="_blank">
        <div class="mui--text-center app-logo">
          <img src="/static/img/logos/{{ app['application']['logo'] }}" alt={{ app['application']['name'] }}>
        </div>
        <h4 class="mui--text-center app-name">{{ app['application']['name'] }}</h4>
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
  <!-- Temporarily removed until alert center comes online
  <script>
    var source = new EventSource("/stream?channel={{ user.userhash() }}");
    source.addEventListener('alert', function(event) {
        var data = JSON.parse(event.data);
        $(".messages").append("<li class=\"security-alert\">" + " <div class=\"message\">" + "Security Alert Logged at " + (new Date().getHours()) + ":" + (new Date().getMinutes()) + " : " + data["message"] + "</div></li>");
    }, false);
    source.addEventListener('error', function(event) {
        console.log("Failed to connect to event stream. Is Redis running?");
    }, false);
  </script>
  -->
{% endblock %}
