{% extends "authenticated-layout.html" %}
{% block content %}
<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>


  </div>

  <div class="mui-row">
    <hr></hr>
  </div>


  <div class="mui-row">
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>
    <div class="mui-col-md-4">
      <img src="static/img/auth0.png"></img>
      <h4> An App </h4>
    </div>
  </div>


</div>
{% endblock %}
