{% extends "layout.html" %}

{% block content_class %}error-page forbidden{% endblock %}

{% block content %}
  <div class="mui-row">
    <div class="mui-col-md-6 mui-col-md-offset-3">
      <h1>Error</h1>

      <div class="panel">
        <div class="pointer"></div>
        <h2>
            {% if token_verifier %}
                {{ token_verifier.error_message()|safe }}
            {% else %}
                 Oye, something went wrong.
            {% endif %}
        </h2>
      </div>
    </div>
  </div>

  <div class="mui-row section">
    <div class="mui-col-md-6 mui-col-md-offset-3">
      <a href="https://discourse.mozilla.org/c/iam" class="mui-btn help">Need Help?</a>
      {% if token_verifier %}
        {% if token_verifier.redirect_uri %}
          <a href="/dashboard" class="mui-btn return">Go Back</a>
        {% else %}
          <a href="/dashboard" class="mui-btn return">Return to dashboard</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
