<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/lib/dnt-helper/js/dnt-helper.js"></script>
    <script src="/static/js/ga.js"></script>
    <link href="/static/lib/mui/packages/cdn/css/mui.min.css" rel="stylesheet">
    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>

    <div class="mui-appbar">
      <div class="mui-col-sm-2 mui-col-xs-5 mui--text-right">
        <div class="brand">
          <img src="/static/img/mozilla.svg" class="logo logo-large mui--hidden-md mui--hidden-sm">
          <img src="/static/img/mozilla-m.svg" class="logo logo-small mui--hidden-lg mui--hidden-xl mui--hidden-xs">
        </div>
      </div>
      <div class="mui-col-sm-8 mui--hidden-xs">
        {% block search %}{% endblock %}
      </div>
      <div class="mui-col-sm-2 mui-col-xs-7 mui--text-left">
        {% block menu %}{% endblock %}
        {% block search_button %}{% endblock %}
      </div>
    </div>

    {% block search_mobile %}{% endblock %}

    <div class="content {% block content_class %}{% endblock %}">
      <div class="mui-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% block user_menu %}{% endblock %}

    <footer>
      <div class="mui-container mui--text-center">
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/email.svg">
            <a target="_blank" href="https://mozilla.service-now.com/sp?id=sc_cat_item&sys_id=ca46b2794fcc2200f004ef6d0210c77c">Need Help?</a>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/feedback.svg">
            <a target="_blank" href="https://discourse.mozilla-community.org/c/iam/dashboard">Feedback</a>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/legal.svg">
            <a target="_blank" href="https://www.mozilla.org/en-US/about/legal/">Legal</a>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="/static/img/privacy.svg">
            <a target="_blank" href="https://www.mozilla.org/en-US/privacy/websites/">Privacy</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
