<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla SSO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet"></style>
    {% endassets %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <!-- example content -->
    <div class="mui-appbar">
      <img src="static/img/mozilla-logo.png"></img>
        <!-- content -->
    </div>
    <div class="mui-container">
      <div class="mui-panel">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
