{% extends "dashboard.html" %}

{% block search %}
{% endblock %}

{% block search_button %}
{% endblock %}

{% block search_mobile %}
{% endblock %}

{% block messages %}
  <div class="messages"></div>
{% endblock %}

{% block content %}
  <div class="notifications">
    <h1>
      <img src="/static/img/alerts/notification-black.svg" alt="" role="presentation">
      Notification Center
      <span class="alerts-count">{{ user.alerts['visible_alerts']|count }}<span class="visually-hidden"> notifications</span></span>
    </h1>

    {% for alert in user.alerts['visible_alerts'] %}
      <div class="alert-panel">
        <div class="alert-header alert-{{ alert.risk }}">
          <span class="alert-risk">
            {{ alert.risk }} risk
          </span>
        </div>
        <div class="alert-body">
          <div class="alert-datetime">
            {{ alert.date }}
          </div>
          <div class="alert-summary">
            {{ alert.summary }}
          </div>
          <div class="alert-description">
            {{ alert.description }}
          </div>

          <div class="alert-actions">
            <a href="{{ alert.url }}" class="btn-alert" target="_blank">
              {% include 'icons/alert.svg' %}
              {{ alert.url_title }}
            </a>
            <button type="button" id="escalate-alert" class="btn-alert" data-alert-id="{{ alert.get('alert_id') }}">
              {% include 'icons/info.svg' %}
              <span class="info-text">Escalate to Security</span>
            </button>
            <button type="button" class="btn-alert" id="dismiss-alert" data-alert-id="{{ alert.get('alert_id') }}">
              Dismiss
            </button>
          </div>
          <form action="/alert/{{ alert.id }}" method="POST" class="alert-survey">
            <fieldset>
              <legend>Was this alert helpful?</legend>
              <input type="submit" value="Yes" name="helpfulness" /><!--
              --><input type="submit" value="Very" name="helpfulness" /><!--
              --><input type="submit" value="Moderately" name="helpfulness" /><!--
              --><input type="submit" value="Slightly" name="helpfulness" /><!--
              --><input type="submit" value="No" name="helpfulness" />
            </fieldset>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="/static/js/notifications.js"></script>
{% endblock %}
