{% extends "dashboard.html" %}

{% block search %}
{% endblock %}

{% block search_button %}
{% endblock %}

{% block search_mobile %}
{% endblock %}

{% block messages %}
  <div class="messages"></div>
{% endblock %}

{% block content %}
  <div class="notifications">
    <h1>
      <img src="/static/img/alerts/notification-black.svg" alt="" role="presentation">
      Notification Center
      <span class="alerts-count">{{ user.alerts['visible_alerts']|count }}<span class="visually-hidden"> notifications</span></span>
    </h1>

    {% for alert in user.alerts.get('visible_alerts') %}
      <div class="alert alert-panel" id="{{ alert.get('alert_id') }}">
        <div class="alert-header alert-{{ alert.risk }}">
          <span class="alert-risk">
            {{ alert.risk }} risk
          </span>
        </div>
        <div class="alert-body">
          <div class="alert-datetime">
            {{ alert.date }}
          </div>
          <div class="alert-summary">
            {{ alert.summary }}
          </div>
          <div class="alert-description">
            {{ alert.description }}
          </div>
          {% if alert.get('state') != 'escalate' %}
          <div class="alert-actions">
            <a href="{{ alert.url }}" class="btn-alert" target="_blank">
              {% include 'icons/alert.svg' %}
              {{ alert.url_title }}
            </a>
            {% if alert.get('state') != 'escalate' and alert.get('alert_code') == '416c65727447656f6d6f64656c' %}
            <button type="button" data-process-action="escalate" class="btn-alert" data-process-action-success="This alert has been escalated to the Mozilla Operations Center." data-process-action-error="An error has occurred, please try again later.">
              {% include 'icons/arrow-right.svg' %}
              <span class="info-text">Escalate to Security</span>
            </button>
            {% endif %}
            <button type="button" class="btn-alert" data-process-action="acknowledge">
              Dismiss
            </button>
          </div>
          {% else %}
          <div class="alert-actions">
            <button type="button" class="btn-alert" data-process-action="acknowledge">
              Dismiss
            </button>
          </div>
          {% endif %}
          <div class="alert-feedback">
            <div class="loading-indicator">{% include 'icons/loading-black.svg' %}</div>
            {% if alert.get('state') == 'escalate' %}
            <p>This alert has been escalated to the Mozilla Operations Center.</p>
            {% endif %}
          </div>
          {% include 'partials/alert-feedback.html' %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
