<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mozilla Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="/static/css/nlx.css" rel="stylesheet">
  </head>
  <body>
    <div class="card">
      <a href="https://mozilla.org" class="logo" target="_blank">
        <img src="/static/img/mozilla.svg" alt="mozilla">
      </a>

      <h2 class="card__heading card__heading--success">
        <svg viewBox="0 0 18 12" class="card__heading-icon"><path d="M0 0h18v12H0V0zm9 6.563L16.64.75H1.36L9 6.563zM.75 11.25h16.5V1.219l-5.39 4.125 5.39 5.906h-.91l-5.09-5.484L9 7.5 6.75 5.766 1.709 11.25H.758L6.14 5.344.75 1.219V11.25z" fill="#000" fill-rule="evenodd"/></svg><span>Log out success</span></h2>
        <p>Make sure you also log out of each individual application used this session.</p>
        <hr>
        <a href="https://sso.mozilla.com" class="button button--secondary">Log in to Mozilla</a>
      <ul class="legal-links list list--plain">
        <li><a href="https://www.mozilla.org/en-US/about/legal/" target="_blank">Legal</a></li>
        <li><a href="https://www.mozilla.org/en-US/privacy/websites/" target="_blank">Privacy</a></li>
        <li><a href="https://discourse.mozilla.org/c/iam" target="_blank">Need help?</a></li>
      </ul>
    </div>
  </body>
</html>
